    @import 'style.scss';
    * {
        padding: 0;
        margin: 0;
    }
    
    .container {
        width: 30%;
        margin: 0.5em;
        float: left;
        clear: both;
        .img {
            img {
                width: 20%;
                float: left;
            }
        }
        .content {
            padding-left: 3%;
            width: 77%;
            float: left;
            a {
                text-decoration: none;
                @include CSSFont(#2d2d2d, 1.2em, 600);
                &:hover {
                    color: #a23d3d;
                }
            }
        }
    }
    
    @media screen and (max-width:414px) {
        .container {
            font-size: 16px;
            width: 95%;
        }
    }