* {
  padding: 0;
  margin: 0;
}

.container {
  width: 30%;
  margin: 0.5em;
  float: left;
  clear: both;
}

.container .img img {
  width: 20%;
  float: left;
}

.container .content {
  padding-left: 3%;
  width: 77%;
  float: left;
}

.container .content a {
  text-decoration: none;
  color: #2d2d2d;
  font-size: 1.2em;
  font-weight: 600;
}

.container .content a:hover {
  color: #a23d3d;
}

@media screen and (max-width: 414px) {
  .container {
    font-size: 16px;
    width: 95%;
  }
}
/*# sourceMappingURL=pic10.css.map */