.container {
  width: 30%;
  height: auto;
}

.container ul {
  list-style-type: square;
  list-style-image: url("/image/image1.jpg");
}

.container ul li {
  padding-top: 1em;
}

.container ul li a {
  color: #064273;
  font-size: 1.2em;
  font-weight: 400;
  text-decoration: none;
}

.container ul li a:hover {
  color: #ef628d;
}

.container ul li a:active {
  color: aquamarine;
}

@media screen and (max-width: 414px) {
  .container {
    width: 90%;
  }
}
/*# sourceMappingURL=pic1.css.map */