@import 'style.scss';
* {
    padding: 0;
    margin: 0 auto;
}

.container {
    width: 30%;
    margin: 1em;
    &__header {
        font-size: 14px;
        margin-bottom: 0.5em;
        a {
            text-decoration: none;
            @include CSSFont(#333333, 1.7em, 600);
            &:hover {
                color: #e21cf0;
            }
        }
    }
    &__image {
        img {
            width: 50%;
            float: left;
        }
    }
    &__content {
        width: 47%;
        float: left;
        margin-left: 3%;
        .content {
            @include CSSFont(#666666, 1.005em, 500);
            margin-bottom: 0.5em;
        }
        .hoc-duong {
            @include CSSFont(#fa723f, 1.05em, 600);
        }
        .hour,
        .dot {
            @include CSSFont(#999999, 0.8em, 400);
        }
    }
}

@media screen and (max-width:414px) {
    .container {
        font-size: 12px;
        width: 95%;
    }
}