* {
  padding: 0;
  margin: 0 auto;
}

.container {
  width: 30%;
  margin: 1em;
}

.container__header {
  font-size: 14px;
  margin-bottom: 0.5em;
}

.container__header a {
  text-decoration: none;
  color: #333333;
  font-size: 1.7em;
  font-weight: 600;
}

.container__header a:hover {
  color: #e21cf0;
}

.container__image img {
  width: 50%;
  float: left;
}

.container__content {
  width: 47%;
  float: left;
  margin-left: 3%;
}

.container__content .content {
  color: #666666;
  font-size: 1.005em;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.container__content .hoc-duong {
  color: #fa723f;
  font-size: 1.05em;
  font-weight: 600;
}

.container__content .hour,
.container__content .dot {
  color: #999999;
  font-size: 0.8em;
  font-weight: 400;
}

@media screen and (max-width: 414px) {
  .container {
    font-size: 12px;
    width: 95%;
  }
}
/*# sourceMappingURL=pic4.css.map */