    @import 'style.scss';
    * {
        padding: 0;
        margin: 0 auto;
    }
    
    .container {
        width: 30%;
        font-size: 14px;
        padding: 1em;
        &__header {
            text-transform: uppercase;
            @include CSSFont(#2d2d2d, 2em, 600);
            border-left: 0.2em solid #fc6129;
            padding-left: 0.5em;
            margin-bottom: 0.5em;
        }
        &__img {
            img {
                width: 100%;
            }
        }
        &__title {
            margin-top: 0.5em;
            a {
                text-decoration: none;
                @include CSSFont(#2d2d2d, 1.5em, 600);
                &:hover {
                    color: #c94246;
                }
            }
        }
        &__spoil {
            @include CSSFont(#555555, 1.3m, 200);
            margin-top: 1em;
            margin-bottom: 1em;
        }
        hr {
            border: none;
            border-bottom: solid 2px #e9e9e9;
        }
        &__link {
            padding-top: 1em;
            padding-bottom: 1em;
            a {
                text-decoration: none;
                @include CSSFont(#4b4b4b, 1.2em, 600);
                &:hover {
                    color: #c94246;
                }
            }
        }
    }
    
    @media screen and (max-width:414px) {
        .container {
            font-size: 12px;
            width: 95%;
        }
    }