@import 'style.scss';
* {
    padding: 0;
    margin: 0 auto;
}

.container {
    width: 50%;
    font-size: 14px;
    padding: 2em;
    &__image {
        width: 30%;
        float: left;
        img {
            width: 50%;
            float: left;
            height: 10em;
        }
    }
    &__content {
        width: 68%;
        float: left;
        padding-left: 2%;
        .title {
            a {
                text-decoration: none;
                @include CSSFont(#333333, 1.4em, 600);
                &:hover {
                    color: #a23d3d;
                }
            }
        }
    }
    .group {
        padding-top: 0.5em;
        padding-bottom: 1em;
        .element1 {
            @include CSSFont(#41455d, 1em, 600);
        }
        .element2 {
            @include CSSFont(#787878, 1em, 400);
        }
    }
    .spoil {
        @include CSSFont(#4e4e4e, 1.2em, 400);
    }
}

@media screen and (max-width:414px) {
    .container {
        font-size: 12px;
        width: 100%;
        &__image {
            width: 40%;
        }
        &__content {
            width: 50%;
        }
        .hidden {
            display: none;
        }
    }
}