@import 'style.scss';
* {
    padding: 0;
    margin: 0;
}

.container {
    padding: 1em;
    box-shadow: 2px 2px 4px #ddd;
    height: auto;
    width: 25%;
    img {
        width: 100%;
    }
    .content {
        padding: 0.5em;
        font-family: Arial, Helvetica, sans-serif;
        a {
            text-decoration: none;
            @include CSSFont(#333333, 1.4em, 600);
            &:hover {
                color: #a23d3d;
            }
        }
    }
}

@media screen and (max-width:414px) {
    .container {
        font-size: 12px;
        width: 95%;
    }
}