* {
  padding: 0;
  margin: 0;
}

.container {
  padding: 1em;
  -webkit-box-shadow: 2px 2px 4px #ddd;
          box-shadow: 2px 2px 4px #ddd;
  height: auto;
  width: 25%;
}

.container img {
  width: 100%;
}

.container .content {
  padding: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
}

.container .content a {
  text-decoration: none;
  color: #333333;
  font-size: 1.4em;
  font-weight: 600;
}

.container .content a:hover {
  color: #a23d3d;
}

@media screen and (max-width: 414px) {
  .container {
    font-size: 12px;
    width: 95%;
  }
}
/*# sourceMappingURL=pic7.css.map */