* {
  padding: 0;
  margin: 0;
}

.container {
  padding: 1em;
  width: 30%;
  clear: both;
}

.container img {
  width: 100%;
}

.container .title {
  margin-top: 0.5em;
}

.container .title a {
  text-decoration: none;
  color: #444444;
  font-size: 1.3em;
  font-weight: 600;
}

.container .title a:hover {
  color: #a23d3d;
}

.container .content {
  margin-top: 0.5em;
  color: #505050;
  font-size: 0.9em;
  font-weight: 400;
}

@media screen and (max-width: 414px) {
  .container {
    font-size: 16px;
    width: 95%;
  }
}
/*# sourceMappingURL=pic8.css.map */