@import "style.scss";
* {
    padding: 0;
    margin: 0;
}

.container {
    padding: 1em;
    width: 30%;
    img {
        width: 100%;
    }
    .title {
        margin-top: 0.5em;
        a {
            text-decoration: none;
            @include CSSFont(#444444, 1.3em, 600);
            &:hover {
                color: #a23d3d;
            }
        }
    }
    .content {
        margin-top: 0.5em;
        @include CSSFont(#505050, 0.9em, 400);
    }
}

@media screen and (max-width:414px) {
    .container {
        font-size: 16px;
        width: 95%;
    }
}