@import 'style.scss';
* {
    padding: 0;
    margin: 0 auto;
}

.container {
    margin: 2em;
    border: none;
    width: 50%;
    .content {
        border: none;
        border-bottom: dotted 0.1em #2d2d2d;
        padding-bottom: 60px;
        width: 100%;
        clear: both;
        .hour {
            width: 12%;
            float: left;
            border: none;
            border-right: dotted 0.1em #2d2d2d;
            padding-right: 15px;
            padding-bottom: 15px;
            padding-top: 15px;
            @include CSSFont(#fc6b2f, 1.5em, 600);
        }
        .title {
            width: 75%;
            float: left;
            @include CSSFont(#2d2d2d, 1.5em, 600);
            padding-left: 15px;
        }
    }
}

@media screen and (max-width:414px) {
    .container {
        font-size: 14px;
        width: 90%;
    }
}